.about_container {
    padding-bottom: 40rem;
}

.about_title {
    font-size: 70px;
    padding-top: 150px;
    padding-right: 50rem;
}

.about_hr {
    display: inline-block;
    margin-right: 28rem;
    width: 38rem;
}

.about_description {
    padding-right: 30rem;
}

.about_img {
    width: 22rem;
    height: 25rem;
    border-radius: 20%;
    margin-left: 35rem;
    margin-top: -12rem;
}
