.contact_container {
    padding-bottom: 20rem;
}

.contact_title {
    font-size: 70px;
    padding-top: 150px;
    padding-right: 50rem;
}

.contact_hr {
    display: inline-block;
    margin-right: 20px;
    width: 70rem;
}

.subtitle_container {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 2rem;
}

.contact_social {
    margin-right: 17rem;
}

.contact_mail {
    margin-right: 31rem;
}

#contact_link {
    font-size: 20px;
    margin-top: 10px;
    margin-right: 22rem;
}

#contact_link-facebook {
    font-size: 20px;
    margin-top: 5px;
    margin-left: 8rem;
}

.fa-instagram {
    padding-right: 6rem;
}